<!-- ko with: home -->
@{ 
    Page.Title = "Hello";
    Page.Keywords = "1,2,3";
    Page.Description = "test descr";
    System.Web.UI.HtmlControls.HtmlMeta meta = new System.Web.UI.HtmlControls.HtmlMeta();
    meta.Attributes.Add("name", "keywords");
    meta.Attributes.Add("content", "key1, key2");
    Page.Header = new System.Web.UI.HtmlControls.HtmlHead();
    Page.Header.Controls.Add(meta);

}
<div class="MainPage">
    <div class="wideimagecontainer">
        <img class="img-responsive wideimage" src="~/Images/pencil37.png" />
        <div class="wideimagetext"><p>No. 5 Pencils</p></div>
    </div>
    <div>
        <h1>This is a page to test Google Analytics and SEO using a faux product: Number 5 pencils</h1>
    </div>
</div>
<!-- /ko -->
